<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551042132127-e44ui0691q3knos055seus6ga5jo470o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551042132127-e44ui0691q3knos055seus6ga5jo470o</string>
	<key>API_KEY</key>
	<string>AIzaSyDaMS-6x5VN681Kvip27NlHp17TWwa2g6w</string>
	<key>GCM_SENDER_ID</key>
	<string>551042132127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azooz.CurrencyConverter</string>
	<key>PROJECT_ID</key>
	<string>currencyconverter-e00d0</string>
	<key>STORAGE_BUCKET</key>
	<string>currencyconverter-e00d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551042132127:ios:cd83132eb805a8e061daaa</string>
</dict>
</plist>